<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mx-auto w-50">
  <div class="timeline-group">
    <div>
      <label>Title</label>
      <input formControlName="title" />
    </div>
    <div>
      <label>Direction</label>
      <select formControlName="direction">
        <option value="0">horizontal</option>
        <option value="1">vertical</option>
      </select>
    </div>
  </div>
  <div formArrayName="events" class="timeline-events-group">
    <div
      *ngFor="let event of formEvents.controls; let idx = index"
      [formGroupName]="idx"
      class="timeline-events-group-value"
    >
      <div class="timeline-events-group-value-title">
        <h2>Event {{ idx + 1 }}</h2>
        <div>
          <button
            type="button"
            class="btn btn-orange"
            (click)="deleteEvent(idx)"
          >
            Delete event
          </button>
        </div>
      </div>
      <div>
        <label>Event content type</label>
        <select formControlName="type">
          <option value="0">Text</option>
          <option value="1">Image</option>
        </select>
      </div>
      <div>
        <label>Event content</label>
        <input formControlName="content" />
      </div>
      <div>
        <label>Event start at</label>
        <input type="date" formControlName="startedAt" />
      </div>
      <div>
        <label>Event finished at</label>
        <input type="date" formControlName="finishedAt" />
      </div>
      <div>
        <label>Shape type</label>
        <select formControlName="shapeType">
          <option value="0">CIRCLE</option>
          <option value="1">RHOMBUS</option>
          <option value="2">SQUARE</option>
        </select>
      </div>
      <div>
        <label>Shape color</label>
        <input style="height: 43px" type="color" formControlName="shapeColor" />
      </div>
    </div>

    <div
      class="text-center my-20"
      style="display: flex; gap: 10px; justify-content: center"
    ></div>
  </div>

  <div
    class="text-center"
    style="display: flex; gap: 10px; justify-content: center"
  >
    <button [disabled]="form.invalid" class="btn btn-violet">
      Save timeline
    </button>
    <button type="button" class="btn btn-light" (click)="addEvent()">
      Add More Events
    </button>
    <button
      *ngIf="value.id"
      class="btn btn-orange"
      (click)="onDelete(value.id)"
    >
      Delete
    </button>
  </div>
</form>
<app-timeline-view [value]="draftValue"></app-timeline-view>
