.timeline-group {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.timeline-events-group-value {
  margin-top: 20px;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
}
.timeline-events-group-value > div {
  width: calc(50% - 20px);
}
.timeline-events-group-value > .timeline-events-group-value-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
