<ng-container *ngIf="timeline$ | async as timeline">
  <div class="text-center">
    <h1>{{ timeline.title }}</h1>
    <button class="btn btn-light" [routerLink]="['/']">Back to list</button>
  </div>

  <app-timeline-view [value]="timeline"></app-timeline-view>
  <div
    class="text-center"
    style="display: flex; gap: 10px; justify-content: center"
  >
    <button class="btn btn-violet" [routerLink]="['/', 'edit', timeline.id]">
      Edit
    </button>
    <button class="btn btn-orange" (click)="onDelete(timeline.id)">
      Delete
    </button>
  </div>
</ng-container>
