<div class="text-center">
  <h1>Timeline List</h1>
  <button class="btn btn-light" [routerLink]="['/', 'create']">
    Create new
  </button>
</div>
<ng-container *ngIf="timelines$ | async as timelines">
  <app-timeline-list
    [list]="timelines"
    (open)="navigateToView($event)"
    (edit)="navigateToEdit($event)"
  ></app-timeline-list>
</ng-container>
