.events {
  display: flex;
  margin: 40px;
  padding: 80px;
  justify-content: space-between;
  position: relative;
}

.events::before {
  content: "";
  background-color: #999;
  position: absolute;
  z-index: -1;
}

.events::after {
  border-style: solid;
  border-color: #999;
  border-width: 4px 4px 0 0;
  content: "";
  display: inline-block;
  height: 15px;
  vertical-align: top;
  width: 15px;
  position: absolute;
}

.event-container {
  display: flex;
  position: relative;
}

.event-container-shape {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: absolute;
  z-index: 1;
}

.event-container-shape-square {
  /* default */
}

.event-container-shape-circle {
  border-radius: 50%;
}

.event-container-shape-rhombus {
  transform: rotate(45deg);
}

.event-container:nth-child(2n),
.horizontal .event-container:nth-child(2n) .event-container-content {
  align-items: flex-end;
  justify-content: flex-end;
}

.event-container-content {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
  width: 250px;
}

.horizontal .event-container-content {
  height: 250px;
  border-right: 1px solid #999;
}

.vertical .event-container-content {
  height: calc(250px - 20px);
}

.vertical .event-container-content::before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  background-color: #999;
  height: 1px;
  top: 0;
  right: 0;
}

.vertical .event-container:nth-child(2n + 1) .event-container-content::before {
  left: 0;
}
.vertical .event-container:nth-child(2n) .event-container-content::before {
  right: 0;
}

.horizontal.events {
  flex-direction: row;
}

.vertical.events {
  flex-direction: column;
}

.horizontal.events::before {
  display: block;
  width: 100%;
  height: 3px;
  left: 0px;
  top: 50%;
}

.vertical.events::before {
  display: inline-block;
  width: 4px;
  top: 0;
  height: 100%;
  left: calc(50% - 2px);
}
.horizontal.events::after {
  transform: rotate(45deg);
  top: calc(50% - 8px);
  right: 0px;
}

.vertical.events::after {
  transform: rotate(135deg);
  left: calc(50% - 10px);
  bottom: 0px;
}

.horizontal .event-container {
  height: 500px;
}

.vertical .event-container {
  height: 250px;
}

.horizontal .event-container-shape {
  top: 218px;
  right: -32px;
}

.vertical .event-container-shape {
  top: -32px;
  right: calc(50% - 32px);
}
