<div class="events" [class]="directionCssClass">
  <div class="event-container" *ngFor="let event of events">
    <div
      class="event-container-shape"
      [class]="getShapeCssClass(event.shapeType)"
      [style.backgroundColor]="event.shapeColor"
    ></div>
    <div class="event-container-content">
      <div>{{ event.startedAt | date }} — {{ event.finishedAt | date }}</div>
      <ng-container *ngIf="event.type == 0">
        <span>{{ event.content }}</span>
      </ng-container>
      <ng-container *ngIf="event.type == 1">
        <img [src]="event.content" />
      </ng-container>
    </div>
  </div>
</div>
