<div class="text-center">
  <h1>Timeline editor</h1>
  <button class="btn btn-light" [routerLink]="['/']">Back to list</button>
</div>
<div class="my-20" *ngIf="timeline$ | async as timeline">
  <app-timeline-form
    [value]="timeline"
    (save)="onSave($event)"
  ></app-timeline-form>
</div>
