* {
  font-family: "Open Sans";
}

h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.w-50 {
  width: 50%;
}

.text-center {
  text-align: center;
}

.btn {
  font-size: 125%;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-light {
  background: #e5e5e5;
  border: 1px solid #ccc;
  color: #333;
}

.btn-orange {
  background: #fff2e5;
  border: 1px solid #ff7f00;
  color: #ff7f00;
}

.btn-violet {
  background: #f7e5ff;
  border: 1px solid #ad00ff;
  color: #ad00ff;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  padding-top: 7px;
  padding-bottom: 5px;
  opacity: 1;
}

.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

input,
select {
  box-sizing: border-box;
  font-size: 125%;
  padding: 6px 12px;
  border-radius: 4px;
  background: #e5e5e5;
  border: 1px solid #ccc;
  color: #333;
  display: block;
  width: 100%;
  margin-bottom: 6px;
}

label {
  margin-top: 6px;
  font-weight: bold;
  padding: 6px 12px;
  display: block;
}
