.timeline-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.timeline-list-item {
  width: calc(100% / 4 - 58px);
  padding: 20px;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.timeline-list-item-title {
  margin-top: 0;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.timeline-list-item-actions {
  display: flex;
  justify-content: space-between;
}
