<div class="timeline-list">
  <div *ngFor="let timeline of list" class="timeline-list-item">
    <h2 class="timeline-list-item-title">{{ timeline.title }}</h2>
    <div class="timeline-list-item-content">
      <p>ID: {{ timeline.id }}</p>
      <p>Timeline events: {{ timeline.events.length }}</p>
    </div>
    <div class="timeline-list-item-actions">
      <button (click)="onOpen(timeline)" class="btn btn-light">Open</button>
      <button (click)="onEdit(timeline)" class="btn btn-violet">Edit</button>
    </div>
  </div>
</div>
